.selected-dark {
  background-color: #1e1e1e;
}
.topnav-bg {
  background-color: #252526;
  padding-left: 0px;
}
.unselected-dark {
  background-color: #2d2d2d;
}

.sidenav-bg {
  background-color: #333333;
}

.navbar {
  font-size: 1.75em;
  padding-top: 0px;
}
.nav-item {
  border: 0px;
  border-right: black 1px;
  border-style: solid;
}

.floatleft {
  float: left;
  min-width: 100px;
  font-size: 40px;
  height: 100vh;
}

.righticons {
  color: #858585;
  text-decoration: none;
}
.righticons > a {
  color: #858585;
  text-decoration: none;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  color: #858585;
}
.nav-link:hover {
  color: white;
}

.floatright {
  float: right;
}

.x {
  visibility: hidden;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover .x {
  visibility: visible;
}

#home {
  display: none;
}

#home:target {
  display: block;
}
#about {
  display: none;
}

#about:target {
  display: block;
}
#skills {
  display: none;
}

#skills:target {
  display: block;
}
#work {
  display: none;
}

#work:target {
  display: block;
}
#contact {
  display: none;
}

#contact:target {
  display: block;
}
